.message_body{
    width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 45px;
    background-color: #fafafa;
}
.message_mainBox{
    width: 944px;
    margin: 0 auto;
}
.message_title{
    font-size: 24px;
    color: #333333;
    padding:50px 0;
}
.message_title2{
    font-size: 24px;
    color: #333333;
    padding-top:50px;
    padding-bottom: 0;
}
.message_menubox{
    font-size: 0;
    border-bottom: 1px #dddddd solid;
}
.message_menu{
    font-size: 18px;
    color: #333333;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.message_menu:hover{
    cursor: pointer;
}
.message_menuactive{
    position: relative;
    padding: 0 20px;
}
.message_menuactive:after{
    content: "";
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3eb39d;

}
.message_contBox{
    padding-bottom: 50px;
}
.message_contmainbox{
    background-color: #ffffff;
    margin-top: 30px;
}
.message_contmain{
    width: 884px;
    margin: 0 auto;
    padding: 40px 0;
}
.message_conttitle{
    font-size: 18px;
    color: #333333;
}
.message_contxxbox{
    margin-top: 15px;
    font-size: 14px;
    color: #333333;
    display: flex;
    justify-content: space-between;
}
.message_contxxbox>div:nth-of-type(1){
    width: 590px;
    line-height: 25px;
}
.mesfeed_contmain{
    width: 904px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.mesfeed_imgbox{
    width: 100px;
    height: 100px;
}
.mesfeed_imgbox>img{width: 100%;height: 100%}
.mesfeed_contdiv2{
    margin-left: 30px;
    color: #333333;
    font-size: 14px;
}
.mesfeed_contleft{
    display: flex;
}
.mesfeed_contright{
    /*border: 1px red solid;*/
    margin-top: 25px;
    color: #333333;
    font-size: 14px;
}
.mesfeed_contright>div:nth-last-of-type(1){
    margin-top: 20px;
}
.mesfeed_contdiv2>div{
    margin-top: 20px;
}
.mesfeed_contdiv2>div:nth-of-type(1){
    font-size: 18px;
    margin-top: 0;
}
.mesfeed_span{
    color: #3eb39d;
    text-align: right;
}
.mesfeed_span:hover{cursor: pointer}

.mesfee_pagesBox{ 
	text-align: center;
	margin-top: 50px;
}
/*ÒÆ¶¯°æ*/
@media screen and (min-width: 1024px) {

}
@media screen and (max-width: 1024px) {
    .message_title {
        display: none;
    }
    .message_body {
        width: 100%;
        margin-top: 0;
        margin-bottom: 25px;
        background-color: #fafafa;
    }
    .message_mainBox {
        width: 100%;
    }
    .message_menubox {
        width: 90%;
        margin: 0 auto;
        padding-top: 15px;
        border-bottom: none;
    }
    .message_menu {
        font-size: 1.2rem;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .message_menuactive:after {
        top: 25px;
        height: 2px;
    }
    .message_contBox {
        padding-bottom: 25px;
    }
    .message_contmainbox {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .message_contmain {
        width: 90%;
        padding: 15px 0;
    }
    .message_conttitle {
        font-size: 1.5rem;
        color: #333333;
    }
    .message_contxxbox {
        margin-top: 15px;
        font-size: 1.2rem;
        display: block;
    }
    .message_contxxbox>div:nth-of-type(1) {
        width: 100%;
        line-height: 20px;
        border-bottom: 1px #dddddd solid;
        color: #666666;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .message_contxxbox>div:nth-of-type(2) {
        font-size: 1rem;
        color: #888888;
    }
    /*Í¶µÝ*/
    .mesfeed_contmain {
        width: 90%;
        padding: 15px 0;
        border-bottom: 1px #dddddd solid;
    }
    .mesfeed_imgbox {
        display: none;
    }
    .mesfeed_contdiv2 {
        margin-left: 0;
        font-size: 1.2rem;
    }
    .mesfeed_down{
        width: 90%;
        margin: 0 auto;
        padding: 15px 0;
    }
    .mesfeed_contdiv2>div:nth-of-type(1) {
        font-size: 1.5rem;
    }
    .mesfeed_contdiv2>div {
        margin-top: 15px;
    }
    .mesfeed_contright {
        margin-top: 0;
        font-size: 1rem;
    }
    .mesfeed_contright>div:nth-last-of-type(2) {
        line-height: 20px;
    }
    .mesfeed_contright>div:nth-last-of-type(1) {
        margin-top: 15px;
    }
    .mesfee_pagesBox {
	    margin-top: 25px;
	}
}