.jobdetail_body{
    width: 1024px;
    margin: 0 auto;
}
.jobdetail_topBox{
    width: 100%;
    margin-top: 30px;
    border-top: 2px #3eb39d solid;
    background-color: #ffffff;
}
.jobdetail_topBox>div{width: 944px;margin: 0 auto}
.jobdetail_topdiv1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.job_name{
    font-size: 24px;
    color: #333333;
}
.job_salary{
    color: #fa6041;
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
}
.job_companyname{
    font-size: 18px;
    color: #333333;
    margin-top: 20px;
}
.job_btnsbox{
    display: flex;
}
.job_btnsbox>div{
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
}
.collect:hover,.send:hover{cursor: pointer}
.collect{
    color: #333333;
    border: 1px #dddddd solid;
}
.send{
    color: #ffffff;
    background-color: #3eb39d;
    margin-left: 10px;
    border: 1px #3eb39d solid;
}
.jobdetail_topdiv2,.jobdetail_topdiv3{
    padding-top: 20px;
}
.jobdetail_topdiv3{
    padding-bottom: 30px;
}
.job_ul,.jobdetail_topdiv3>ul{display: flex}
.job_ul>li,.jobdetail_topdiv3>ul>li{
    font-size: 14px;
    color: #333333;
}
.job_ul>li{
    margin-left: 40px;
    position: relative;
}
.job_ul>li:nth-of-type(1){margin-left: 0}
.job_ul>li:before{
    content: "";
    position: absolute;
    left: -20px;
    top: 3px;
    width: 1px;
    height: 80%;
    background-color: #333333;
}
.job_ul>li:nth-of-type(1):before{height: 0}
.jobdetail_topdiv3>ul>li{
    margin-left: 20px;
    border: 1px #dddddd solid;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}
.jobdetail_topdiv3>ul>li:nth-of-type(1){margin-left: 0}
.jobdetail_downBox{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
}
.jobdown_leftBox{
    width: 750px;
    background-color: #fafafa;
}
.jobdown_rightBox{
    width: 254px;
    margin-left: 20px;
}
.job_leftmainbox{
    width: 670px;
    margin: 0 auto;
}
.job_contbox{
    padding-bottom: 30px;
    border-bottom: 1px #dddddd solid;
    font-size: 14px;
}
.job_leftmainbox>.job_contbox:nth-last-of-type(1){
    border-bottom: none;
}
/*.job_title{*/
    /*margin-top: 30px;*/
    /*font-size: 18px;*/
    /*color: #333333;*/
    /*position: relative;*/
    /*margin-left: 10px;*/
/*}*/
/*.job_title:before{*/
    /*position: absolute;*/
    /*left: -10px;*/
    /*top: 3px;*/
    /*background-color: #3eb39d;*/
    /*width: 2px;*/
    /*height: 80%;*/
    /*content: "";*/
/*}*/
.job_dutybox{
    margin-top: 30px;
    color: #333333;
    line-height: 23px;
    letter-spacing: 1px;
}
.job_dutybox>div:nth-of-type(1){
    margin-bottom: 20px;
    line-height: normal;
}
.job_specibox{
    margin-top: 30px;
    line-height: 23px;
    letter-spacing: 1px;
}
.job_specibox>div:nth-of-type(1){
    margin-bottom: 20px;
    line-height: normal;
}
.job_psbox{
    margin-top: 30px;
}
.job_address{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
}

.job_addressleft{color: #333333}
.job_addressright{color: #3eb39d}
.job_addressright:hover{cursor: pointer}
.job_comdetail{
    margin-top: 20px;
}
.job_mapbox{
    width: 100%;
    height: 215px;
}

.job_comdetail>p{
    line-height: 23px;
    text-indent:30px;
    letter-spacing: 1px ;
}
.job_rightmainbox{
    width: 214px;
    background-color: #fafafa;
    padding: 0 20px;
}
.job_companyBox{
    /*border: 1px red solid;*/
}
.job_companyBox:hover{
    cursor: pointer;
}
.job_rightcomlogo{
    width: 150px;
    height: 150px;
    padding: 30px 0;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.job_rightcomlogo>img{
    width: 100%;
    height: 100%;
}
.job_rightcomname{
    font-size: 18px;
    color: #333333;
    text-align: center;
    padding-bottom: 20px;
}
.job_rightcomdeta{
    font-size: 14px;
    color: #333333;
    display:flex;
    padding-bottom: 20px;
    width: 100%;
}
.job_rightmainbox>.job_rightcomdeta:nth-last-of-type(1){
    padding-bottom: 30px;
}
.job_rightcomdeta>div:nth-of-type(1){
    width: 70px;
}
.job_rightcomdeta>div:nth-of-type(2){
    width: 144px;
    word-wrap : break-word ;
}
.job_rightmainbox2{
    margin-top: 20px;
    overflow: hidden;
}
.job_xszhiwei{
    margin-top: 30px;
    margin-bottom: 20px;
}
.job_xsmain{
    border-top: 1px #dddddd solid;
    padding:20px 0;
}
.job_xsmain:hover{
	cursor:pointer;
}
.xs_zhiwei{
    font-size: 16px;
    color: #333333;
}
.xs_salary{
    font-size: 16px ;
    color: #fa6041;
    padding: 20px 0;
}
.xs_comname{
    font-size: 12px;
    color: #333333;
}
.job_morezhiwei{
    margin-top: 10px;
    width: 254px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    border: 1px #dddddd solid;
    background-color: #fafafa;
    display:none;
}
.job_morezhiwei:hover{cursor: pointer}

/*ÒÆ¶¯°æ*/
@media screen and (min-width: 1024px) {
    .jobdetail_compaMo,.toudi_btn{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .jobdown_rightBox{
        display: none;
    }
    .jobdetail_body {
        width: 100%;
    }
    .jobdetail_topBox {
        width: 100%;
        margin-top: 0;
        border-top: none;
    }
    .jobdetail_topBox>div {
        width: 90%;
    }
    .jobdetail_topdiv1 {
        padding-top: 15px;
        display: block;
    }
    .job_btnsbox {
        display: none;
    }
    .job_name {
        font-size: 1.5rem;
    }
    .job_salary {
        float: right;
        font-size: 1.5rem;
    }
    .job_companyname {
       display: none;
    }
    .jobdetail_topdiv2, .jobdetail_topdiv3 {
        padding-top: 15px;
    }
    .job_ul>li {
        margin-left: 20px;
    }

    .job_ul>li{
        font-size: 1.1rem;
    }
    .job_ul>li:before {
        left: -10px;
        top: 2px;
    }
    .jobdetail_topdiv3 {
        padding-bottom: 15px;
        border-bottom: 1px #dddddd solid;
    }
    .jobdetail_topdiv3>ul>li {
        margin-left: 10px;
        padding: 2px 5px;
        font-size: 1rem;
    }
    .jobdetail_compaMo{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }
    .comMo_left{
        display: flex;
    }
    .comMo_right{
        line-height: 50px;
        color: #666666;
    }
    .left_left{
        width: 50px;
        height: 50px;
    }
    .left_left>img{
        width: 100%;
        height: 100%;
    }
    .left_right{
        margin-left: 10px;
    }
    .left_right>div:nth-of-type(1){
        font-size: 1.2rem;
        color: #333333;
    }
    .left_right ul{
        display: flex;
        margin-top: 18px;
    }
    .jobdetail_downBox {
        margin-top: 10px;
        margin-bottom: 0;
        display: block;
    }
    .jobdown_leftBox {
        width: 100%;
        background-color: #ffffff;
    }
    .job_leftmainbox {
        width: 90%;
        padding-top: 15px;
    }
    .job_title {
        margin-top: 0;
        font-size: 1.5rem;
        margin-left: 10px;
    }
    .job_dutybox ,.job_specibox{
        margin-top: 15px;
        color: #666666;
        line-height: 20px;
    }
    .job_dutybox>div:nth-of-type(1),
    .job_specibox>div:nth-of-type(1){
        margin-bottom: 10px;
    }
    .job_contbox {
        padding-bottom: 25px;
        font-size: 1.2rem;
        margin-bottom: 25px;
    }
    .job_address {
        font-size: 1.2rem;
        margin-top: 15px;
    }
    .job_comdetail {
        margin-top: 10px;
        color: #666666;
        line-height: 20px;
    }
    .job_leftmainbox>.job_contbox:nth-last-of-type(1){
        margin-bottom: 20px;
    }
    .toudi_btn{
        width: 100%;
        background-color: #3eb39d;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .job_mapbox{
        height: 170px;
    }
}