.posiEdi_mainbox{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px 40px;
    padding-bottom: 0;
    background-color: #fafafa;
}
.posiEdi_title{
    margin-top: 0;
}
.posiEdi_inputdiv{
    margin-top: 30px;
    font-size: 18px;
    color: #333333;
    display: flex;
}
.posiEdi_inputdiv2{
    line-height: 50px;
}
.posiEdi_inputdiv>input{
    margin-left: 20px;
    width: 500px;
    height: 50px;
    text-indent: 20px;
    outline: none;
    border: 1px #dddddd solid;
    font-size: 18px;
    color: #333333;
}
#po_ldBox>span,#po_addld{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #3eb39d;
    padding: 0 30px;
    padding-left:20px;
    margin-left: 20px;
    border: 1px #3eb39d solid;
}
#po_ldBox>span{
	position: relative
}
.ld_dele{
	position: absolute;
	top:0;
	right:10px;
	display:none
}
#po_addld:hover,.ld_dele:hover,.posiEdi_inputdiv_xz>span:hover{cursor: pointer}
.posiEdi_inputdiv_xz>span{
    display: inline-block;
    width: 94px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #333333;
    margin-left: 30px;
    border: 1px #dddddd solid;
}
.posiEdi_inputdiv_xz>span:nth-of-type(1){margin-left: 20px}
.xz_active{
    background-color: #3eb39d;
    color: #ffffff !important;
    border: 1px #3eb39d solid !important;
}
.posiEdi_inputdiv_yx{position: relative}
.span_k{
    position: absolute;
    left: 290px;
    top: 14px;
    color: #888888;
}
.span_k2{left: 540px}
.posiEdi_inputdiv_yx>input{
    width: 210px;
}
.posiEdi_inputdiv_yx>input:nth-of-type(2){
    margin-left: 10px;
}
.span_zhi{
    margin-left: 10px;
}
.span_tips{font-size: 14px;color: #888888;margin-left: 20px}
.posiEdi_inputdiv_ms{display: flex;margin-top: 40px; }
.posiEdi_inputdiv_ms>div:nth-of-type(1){width:90px;}
.posiEdi_inputdiv_ms textarea{
    width: 825px;
    height: 270px;
    margin-left: 20px;
    outline: none;
    border: 1px #dddddd solid;
    font-size: 14px;
    color: #333333;
    line-height: 23px;
    text-indent: 20px;
}
.posiEdi_btn{
    margin-left: 110px;
    margin-top: 30px;
    padding-bottom: 50px;
}
.posiEdi_btn>span{
    display: inline-block;
    width: 112px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    background-color: #3eb39d;
    color: #ffffff;
}
.posiEdi_btn>span:hover{cursor: pointer}
.posiEdi_divbox2{margin-top: 50px}
.posiEdi_body .input_icon{
    position: absolute;
    right: 15px;
    top: 3px;
    font-size: 20px;
    color: #dddddd;
}
.posiEdi_body .input_icon2{
    top: 18px;
    right: 20px;
}
.posiEdi_inputdiv_cs{display: flex;}
.posiEdi_inputdiv_cs>div:nth-of-type(1){width:90px;margin-right: 20px;line-height: 50px}
.city_input{position: relative}
.posiEdi_body .city-picker-span {
    position: relative;
    display: inline-block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid #dddddd;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
    text-indent: 20px;
    height: 50px !important;
    width: 500px !important;
    line-height: 50px !important;
}
.posiEdi_body .city-picker-span.focus{
    border-bottom-color: #dddddd !important;
}
.posiEdi_body .city-picker-span > .arrow {
    width: 0 !important;
}

.posiEdi_body .divselect{width:500px;margin-top: 10px; position:relative;}
.posiEdi_body .divselect cite{width:500px; height:50px;line-height:50px; display:block; cursor:pointer;font-style:normal;
    border:1px solid #dddddd;background-color: #ffffff;text-indent: 20px}
.posiEdi_body .divselect ul{width:500px;border:1px solid #dddddd; background-color:#ffffff;
    position:absolute; z-index:999; margin-top:-1px;display: none;}
.posiEdi_body .divselect ul li{height:30px; line-height:30px;}
.posiEdi_body .divselect ul li a{display:block; height:30px; color:#333333; text-decoration:none;
    padding-left:10px; padding-right:10px;}
.posiEdi_body .divselect ul li a:hover{background-color:#CCC;}



.texterea_box{position: relative;width: 825px;margin-left: 20px;}
.texterea_tips{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #888888;
}

.city-picker-dropdown {
	width:500px !important;
}

/*ÒÆ¶¯°æ*/
@media screen and (min-width: 1024px) {

}
@media screen and (max-width: 1024px) {
    .job_title,.posiEdi_btn{
        display: none;
    }
    .posiEdi_title{
        display: block;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    .posiEdi_body{
       width: 100%;
    }
    .posiEdi_mainbox {
        margin-top: 0;
        padding: 0 0;
        border-top: 1px #fafafa solid;
    }
    .posiEdi_divbox{
        width: 90%;
        margin: 0 auto;
    }
    .posiEdi_inputdiv {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .posiEdi_inputdiv>input {
        margin-left: 0;
        width: 100%;
        height: 35px;
        text-indent: 10px;
        font-size: 1.2rem;
    }
    .input_prev{
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .posiEdi_inputdiv2 {
        line-height: 35px;
    }
    .posiEdi_inputdiv ,
    .posiEdi_inputdiv_cs {
         display: inherit;
    }
    .posiEdi_inputdiv_cs>div:nth-of-type(1) {
         width: auto;
         margin-right: 0;
         line-height: inherit;
         margin-bottom: 10px;
    }
    .posiEdi_body .city-picker-span {
        text-indent: 10px;
        height: 35px !important;
        width: 100% !important;
        line-height: 35px !important;
        font-size: 1.2rem;
    }
    .posiEdi_body .input_icon2 {
        top: 10px;
        right: 10px;
    }
    #po_ldBox>span, #po_addld {
        font-size: 1rem;
        padding: 0 15px;
        padding-left: 10px;
        margin-left: 0;
        margin-top: 10px;
    }
    #po_ldBox>span{
    	margin-right:10px;
    }
    .ld_dele {
	    right: 5px;
	    display: block;
	}
    .posiEdi_inputdiv_xz>span {
        width: 68px;
        height: 35px;
        line-height: 35px;
        font-size: 1.2rem;
        margin-left: 15px;
    }
    .posiEdi_inputdiv_xz>span:nth-of-type(1) {
         margin-left: 0;
    }
    .posiEdi_body .divselect {
        width: 100%;
    }
    .posiEdi_body .divselect cite {
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-indent: 10px;
        font-size:1.2rem;
    }
    .divselect .input_icon {
        right: 10px;
    }
    .texterea_box {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        font-size:1.2rem;
    }
    .city-picker-dropdown {
         width: 100% !important;
    }
    .posiEdi_body .divselect ul {
	    width: 100%;
	    font-size:1.2rem;
	}
}