.enterp_body{
    width: 770px;
    margin: 0 auto;
}
.enterp_title{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.enterp_title_span1{
    font-size: 24px;
    color: #3eb39d;
}
.enterp_title_span2{
    font-size: 18px;
    color: #666666;
    display: inline-block;
    margin-left: 40px;
    position: relative;
}
.enterp_title_span2:before{
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    background-color: #dddddd;
    width: 2px;
    height: 100%;
}
.enterp_contentbox{
    background-color: #fafafa;
    width: 100%;
    height: 575px;
    margin-bottom: 150px;
}
.enterp_conmainbox{
    width: 690px;
    margin: 0 auto;
}
.enterp_shunxuBtn{
    padding: 50px 0;
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #333333;
}
.enterp_shunxuBtn>div{
    width: 230px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-image: url("../images/enterprise/ic_ongoing.png");
}
.enterp_sxBtn_div1:hover,.enterp_sxBtn_div2:hover,.enterp_sxBtn_div3:hover{cursor: pointer}
.enterp_sxBtn_div1{
    background-image: url("../images/enterprise/ic_complete.png") !important;
}
.enterp_sxBtn_activ{
    color: #ffffff;
}
.span2{
    display: inline-block;
    margin-left: 15px;
}
.enterp_inputbox{
    /*border: 1px red solid;*/
}
.enterp_inputDiv{
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    border: 1px #E3E8EE solid;
    display: flex;
    overflow: hidden;
}
.enterp_inputDiv>input{
    outline: none;
    border: none;
    height: 60px;
    line-height: 58px;
    margin-left: 20px;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
}
.enterp_tubiao{
    margin-left: 20px;
    margin-top: 13px;
}

.enter_qh{
    margin-left: 20px;
    font-size: 18px;
    line-height: 60px;
}
.enterp_font{
    font-size: 28px;
    color: #dddddd;
}
.enterp_tips{
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 14px;
    color: #888888;
}
.enterp_nextBtn{
    width: 420px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #3eb39d;
    color: #ffffff;
    font-size: 18px;
}
.enterp_nextBtn:hover{cursor: pointer}
.enterp_sxBtn_div22{
    background-image: url("../images/enterprise/ic_complete_02.png") !important;
}
.enterp_yztips{
    color: #3eb39d;
}
.enterp_yztips:hover{
    cursor: pointer;
}
.enterp_yzdiv1>div:nth-of-type(1){
    font-size: 18px;
    color: #333333;
}
.enterp_yzdiv1>div:nth-of-type(1)>span{margin-left: 10px}
.enterp_yzdiv1>div:nth-of-type(2){
    font-size: 14px;
    color: #888888;
    margin-top: 30px;
}
.enterp_yzdiv2{
    margin-top: 60px;
}
.enterp_yzdiv2>div{
    font-size: 18px;
    color: #333333;
}
.enterp_yzdiv2>ul{
    font-size: 14px;
    color: #888888;
    margin-top: 10px;
}
.enterp_yzdiv2>ul>li{
    margin-top: 20px;
}
.enterp_contentbox3_input{
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    border: 1px #E3E8EE solid;
    overflow: hidden;
}
.enterp_contentbox3_input>input{
	width:100%;
    outline: none;
    border: none;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
    background-color: transparent;
    font-size: 18px;
    color: #888888;
}
#email_nextBtn{
	margin-top: 30px;
	width: 112px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    background-color: #3eb39d;
    color: #ffffff;
    border: 1px #3eb39d solid;
}
#email_nextBtn:hover{
	cursor: pointer
}

#enterp_status{
     height: 300px !important;
     margin-bottom:50px !important;
}
#status_Box{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
#btn_box{
	text-align: center;
	margin-top:30px;
}
#btn_box:honer{
	cursor: pointer
}
#btn_box>span{
	display: inline-block;
	width: 112px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    background-color: #3eb39d;
    color: #ffffff;
    border: 1px #3eb39d solid;
}
/*移动版*/
@media screen and (min-width: 1024px) {
    .enterp_title2{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .enterp_title,.enterp_shunxuBtn{
        display: none
    }
    .enterp_body {
        width: 100%;
    }
    .enterp_contentbox {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 20px;
        background-color: #ffffff;
    }
    .enterp_conmainbox {
        width: 100%;
    }
    .enterp_title2{
        width: 90%;
        margin: 0 auto;
        padding: 15px 0;
    }
    .enterp_inputbox {
        width: 90%;
        margin: 0 auto;
    }
    .enterp_inputDiv {
        height: 35px;
        margin-bottom: 25px;
    }
    .enterp_inputDiv>input {
        height: 35px;
        line-height: 33px;
        margin-left: 10px;
        font-size: 1.2rem;
    }
    .enter_qh {
        margin-left: 10px;
        font-size: 1.2rem;
        line-height: 35px;
    }
    .enterp_tubiao {
        margin-left: 10px;
        margin-top: 6px;
    }
    .enterp_font {
        font-size: 2rem;
    }
    .enterp_tips {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 1.2rem;
    }
    .enterp_nextBtn {
        width: 90%;
        margin: 0 auto;
        height: 35px;
        line-height: 35px;
        font-size: 1.2rem;
    }

    /*验证邮箱*/
    .enterp_yzdiv1{
        width: 90%;
        margin: 0 auto;
    }
    .enterp_yzdiv1>div:nth-of-type(1) {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .enterp_yzdiv1>div:nth-of-type(1)>span {
        margin-left: 5px;
    }
    .enterp_yzdiv1>div:nth-of-type(2) {
        font-size: 1rem;
        margin-top: 15px;
    }
    #email_nextBtn {
        margin-top: 15px;
        width: 30%;
        height: 35px;
        line-height: 35px;
        font-size: 1.2rem;
    }
    .enterp_yzdiv2 {
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .enterp_yzdiv2>div {
        font-size: 1.2rem;
    }
    .enterp_yzdiv2>ul {
        font-size: 1rem;
        margin-top: 15px;
    }
    .enterp_yzdiv2>ul>li {
        margin-top: 15px;
    }
    .enterp_yztips {
       margin-left: 5px;
    }
    /*公司名称*/
    .enterp_contentbox3_input {
        width: 90%;
        margin: 0 auto;
        height: 35px;
        margin-bottom: 25px;
    }
    .enterp_contentbox3_input>input {
        height: 35px;
        line-height: 35px;
        margin-left: 15px;
        font-size: 1.2rem;
    }
    /*审核状态*/
    #status_Box {
        padding-top: 25px;
        font-size: 1.5rem;
    }
    #btn_box span {
        width: 30%;
        height: 35px;
        line-height: 35px;
        font-size: 1.2rem;
    }
}
