.talent_ser{ margin: 30px auto;}
.talent_divtop{  display: flex;  justify-content: space-between;  }
.talent_divtop .divselect{width:200px; position:relative;}
.talent_divtop .divselect cite{width:200px; height:50px;line-height:50px; display:block; cursor:pointer;font-style:normal;
    border:1px solid #dddddd;background-color: #ffffff;text-indent: 30px}
.talent_divtop .divselect ul{width:200px;border:1px solid #dddddd; background-color:#ffffff;
    position:absolute; z-index:999; margin-top:-1px;display: none;}
.talent_divtop .divselect ul li{height:50px; line-height:50px;}
.talent_divtop .divselect ul li a{display:block; height:50px; color:#888888; text-decoration:none;
    padding-left:30px; padding-right:10px;font-size: 14px;}
.talent_divtop .divselect ul li a:hover{background-color:#CCC;}
.talent_divtop .input_icon{
    position: absolute;
    right: 20px;
    top: 3px;
    font-size: 20px;
    color: #dddddd;
}
.talent_divtop .input_text{
    font-size: 14px;
    color: #888888;
}

.talent_topleft{display: flex;height: 50px;line-height: 50px;}
.talent_topleft>div:nth-of-type(1){margin-right: 20px;font-size: 14px;color: #333333}
.talent_title{height: 50px;line-height: 50px}

.talent_contbox{margin-top: 30px;}
.talent_main{background-color: #fafafa;margin-top: 20px}

.talent_mainbox{width: 944px;border-bottom: 1px #dddddd solid;margin: 0 auto;
    display: flex;justify-content: space-between;padding-top: 30px;padding-bottom: 30px;}
.talent_mainleft{display: flex;}
.talent_mainleft .resu_img{width: 100px;height: 100px;border-radius: 50%;overflow: hidden;}
.talent_mainleft .resu_img>img{width: 100%;height: 100%;}
.talent_mainleft .resu_imgnext{margin-left: 20px;color: #333333;font-size: 14px}
.talent_mainleft .resu_imgnext>div{margin-top: 15px}
.talent_mainleft .resu_imgnext>div:nth-of-type(1){margin-top: 0}
.talent_mainleft .resu_name{font-size: 18px}
.talent_mainleft .resu_sex>span{margin-left: 20px}
.talent_mainleft .resu_sex>span:nth-of-type(1){margin-left: 0}
.talent_zw{font-size: 18px; color: #3eb39d}
.talent_xz{font-size: 16px; color: #fa6041}

.talent_btnbox{padding: 20px 0;text-align:right;margin-right: 40px}
.talent_btnbox>span{background-color: #3eb39d;color: #ffffff;display: inline-block;width: 115px;
    height: 45px;line-height: 45px;text-align: center;font-size: 14px;}
.talent_btnbox>span:hover{cursor: pointer}
.talent_mainright{width: 310px;font-size: 14px;color: #888888;line-height: 25px;
    display: -webkit-box;  -webkit-line-clamp: 4;  -webkit-box-orient: vertical;  overflow: hidden;}