.psd_div1{
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 18px;
    color: #333333;
    border-bottom: 1px #dddddd solid;
}
.psd_inputbox{
    margin-top: 30px;
    height: 55px;
}
.psd_inputbox>input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px #dddddd solid;
    background-color: transparent;
    font-size: 14px;
    color: #888888;
    text-indent: 30px;
}
.psd_btn{
    margin-top: 50px;
    background-color: #3eb39d;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
}
.psd_btn:hover{cursor: pointer}
/*ÒÆ¶¯°æ*/
@media screen and (min-width: 1024px) {
    .my_mobile,.nav_mobile_mask{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .psd_div1 {
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5rem;
    }
    .psd_inputbox {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        height: 35px;
    }
    .psd_inputbox>input {
        font-size: 1.2rem;
        text-indent: 10px;
    }
    .psd_inputbox1{
        margin-top: 15px;
    }
    .psd_inputbox3{
        padding-bottom: 25px !important;
    }
    .psd_btn{
        display: none;
    }
    

}

