html{
    font-size: 62.5%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: "微软雅黑";
    background-color: #EEEEEE;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/*li闁哄秴娲ㄩ锟�*/
ul li{
  list-style: none;
}
/*a闁哄秴娲ㄩ锟�*/
a{
    color: #333333;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #3eb39d;
}
a:active {
    text-decoration: none;

}
/*闁圭顦甸幐锟�*/
.baseBtn{
}
.baseBtn:hover{}
.primaryBtn{}
.primaryBtn:hover{}
.defaultBtn{}
.defaultBtn:hover{}
/*闁活厹鍨介崳娲炊閻愵剛鍨�*/
@font-face {
    src: url("../../font/iconfont.woff");
    font-family: "indexIcon";
}
.myfont{
    font-family: "indexIcon";
    font-size: 16px;
}
/*濠殿垱甯婄紞瀣蓟閵夘煈鍤勯柛锝忔嫹*/
@media (max-width:768px) {}

textarea{
    resize:none;
}

.myinput{
	display:none;
}


.layui-layer-btn .layui-layer-btn0 {
    border-color: #3eb39d !important;
    background-color: #3eb39d !important;
}




