<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrenpin.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.rrenpin.entity.Company">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="financing" jdbcType="VARCHAR" property="financing" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="license" jdbcType="VARCHAR" property="license" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, logo, email, info, address, industry, scale, website, financing, user_id, 
    tel, intro, license, reg_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rrenpin.entity.Company">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company (id, name, logo, 
      email, info, address, 
      industry, scale, website, 
      financing, user_id, tel, 
      intro, license, reg_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{scale,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{financing,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rrenpin.entity.Company">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="name != null">
        name,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="financing != null">
        financing,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="license != null">
        license,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="financing != null">
        #{financing,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rrenpin.entity.Company">
    update company
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="financing != null">
        financing = #{financing,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rrenpin.entity.Company">
    update company
    set name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      financing = #{financing,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findByUserId" resultMap="BaseResultMap">
  	select * from company where user_id=#{userId}
  </select>
  
  <select id="findByEmail" resultMap="BaseResultMap">
  	select * from company where email=#{email}
  </select>
</mapper>