<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrenpin.dao.DeliveryMapper">
  <resultMap id="BaseResultMap" type="com.rrenpin.entity.Delivery">
    <id column="delivery_id" jdbcType="INTEGER" property="deliveryId" />
    <result column="resume_id" jdbcType="INTEGER" property="resumeId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="delivery_status" jdbcType="VARCHAR" property="deliveryStatus" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="intend_time" jdbcType="TIMESTAMP" property="intendTime" />
    <result column="invite_time" jdbcType="TIMESTAMP" property="inviteTime" />
    <result column="unfit_time" jdbcType="TIMESTAMP" property="unfitTime" />
  </resultMap>
  <sql id="Base_Column_List">
    delivery_id, resume_id, company_id, post_id, delivery_status, delivery_time, check_time, 
    intend_time, invite_time, unfit_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from delivery
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from delivery
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rrenpin.entity.Delivery">
    <selectKey keyProperty="deliveryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into delivery (delivery_id, resume_id, company_id, 
      post_id, delivery_status, delivery_time, 
      check_time, intend_time, invite_time, 
      unfit_time)
    values (#{deliveryId,jdbcType=INTEGER}, #{resumeId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{postId,jdbcType=INTEGER}, #{deliveryStatus,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{intendTime,jdbcType=TIMESTAMP}, #{inviteTime,jdbcType=TIMESTAMP}, 
      #{unfitTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rrenpin.entity.Delivery">
    <selectKey keyProperty="deliveryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into delivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      delivery_id,
      <if test="resumeId != null">
        resume_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="deliveryStatus != null">
        delivery_status,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="intendTime != null">
        intend_time,
      </if>
      <if test="inviteTime != null">
        invite_time,
      </if>
      <if test="unfitTime != null">
        unfit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{deliveryId,jdbcType=INTEGER},
      <if test="resumeId != null">
        #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="deliveryStatus != null">
        #{deliveryStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intendTime != null">
        #{intendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteTime != null">
        #{inviteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unfitTime != null">
        #{unfitTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rrenpin.entity.Delivery">
    update delivery
    <set>
      <if test="resumeId != null">
        resume_id = #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="deliveryStatus != null">
        delivery_status = #{deliveryStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intendTime != null">
        intend_time = #{intendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteTime != null">
        invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unfitTime != null">
        unfit_time = #{unfitTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rrenpin.entity.Delivery">
    update delivery
    set resume_id = #{resumeId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      post_id = #{postId,jdbcType=INTEGER},
      delivery_status = #{deliveryStatus,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      intend_time = #{intendTime,jdbcType=TIMESTAMP},
      invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      unfit_time = #{unfitTime,jdbcType=TIMESTAMP}
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </update>
  
  <select id="findDelivery" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from delivery
    where resume_id=#{resumeId} and company_id=#{companyId} and post_id=#{postId}
  </select>
  
  <select id="findByResumeId" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from delivery
    where resume_id=#{resumeId} and delivery_status=#{deliveryStatus}
  </select>
  
  <select id="findByCompanyId" resultType="java.util.Map">
  	select 
    <include refid="Base_Column_List" />,
    (select count(*) from delivery where company_id=#{companyId} and delivery_status=#{deliveryStatus}) as totalnum
    from delivery
    where company_id=#{companyId} and delivery_status=#{deliveryStatus}
    limit #{offset},#{pageSize}
  </select>
  
  <update id="dealResume">
  	update delivery
  	<set>
  	delivery_status=#{deliveryStatus},
  	<if test="deliveryStatus == '1'.toString()">
  	check_time=current_timestamp(),
  	</if>
  	<if test="deliveryStatus == '2'.toString()">
  	intend_time=current_timestamp(),
  	</if>
  	<if test="deliveryStatus == '3'.toString()">
  	invite_time=current_timestamp(),
  	</if>
  	<if test="deliveryStatus == '4'.toString()">
  	unfit_time=current_timestamp()
  	</if>
  	</set>
  	where delivery_id=#{deliveryId}
  </update>
</mapper>